{% extends 'trial.html' %} {% block extra_css %} {% load static %}
<link rel="stylesheet" href="{% static 'appointment.css' %}" />
{% endblock %} {% block content %}
<div class="content-wrapper-here">
    <div class="calendar">
        <div class="calendar-header">
            <div class="header-spacer"></div>
            <!-- <div class="day-header">19 Sun</div>
            <div class="day-header">20 Mon</div>
            <div class="day-header">21 Tue</div>
            <div class="day-header">22 Wed</div>
            <div class="day-header">23 Thu</div>
            <div class="day-header">24 Fri</div>
            <div class="day-header">25 Sat</div> -->
            {% for date,day in week.items %}
            <div class="day-header">{{ date }} {{ day }}</div>
            {% endfor %}
        </div>
        <div class="calendar-main">
            <div class="time-column">
                {% for hour in hours %}
            <div class="time-slot">{{ hour|add:1 }}:00</div>
            {% endfor %}
            </div>
            <!-- <div class="grid">
                <div class="grid-row">
                    
                    <div class="grid-cell">
                        <div class="half-hour"></div>
                        <div class="half-hour"></div>
                    </div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                <div class="grid-row">
                    
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                    <div class="grid-cell"></div>
                                        
                    
                </div>
                
                
            </div> -->
            <div class="grid">
                <!-- Loop over each hour for rows -->
                {% for hour in hours %}
                <div class="grid-row" id = '{{hour}}'>
                    <!-- Loop over each day for cells -->
                    {% for day in dates %}
                    <div class="grid-cell" id = '{{day}}-{{hour}}'>
                        <div class="half-hour" id = '{{day}}-{{hour}}:00:00'></div>
                        <div class="half-hour" id = '{{day}}-{{hour}}:30:00'></div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {{ json|json_script:"profile-data" }}
        </div>
    </div>
    
    </div>
    
    
    
  </div>
  
</div>
{% endblock %} {% block extra_js %}
<script>
    var removeNav = document.querySelector("#page-title i")
    removeNav.click()
</script>
<script src="{% static 'appointment.js' %}"></script>
{% endblock %}
