.size-adjust{
    margin-top: 30px;
}

.lab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.lab-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    border: 2px solid var(--fifth-color);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.lab-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}



.lab-name {
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

/* Specific styling for each lab icon */

.labicon{
    color: var(--third-color);
    font-size: 3.5em !important;
}
/* 
.lab-icon{
    color: var(--third-color);
    font-size: 200px !important;
    
} */